<!DOCTYPE html>
<html>
    <head> 
        <title>HIGH-FIVE!</title>
    </head>
    <body>
      <form action="/" method = "post">
         <p>Up Servo:
            <span style="color:red; font-weight:bold;" id="up_out"></span>
         </p>
   
         <input type = "range" min="15" max= "180" name="up_slider" id="up_slider" value="{{ up_val }}" />

         <br />

         <p>Down Servo:
            <span style="color:red; font-weight:bold;" id="down_out"></span>
         </p>
         
         <input type = "range" min="15" max= "180" name="down_slider" id="down_slider" value="{{ down_val }}" />
         
         <p>
            <span><input type="checkbox" name="fast_chk" {% if fast_val %}checked{% endif %}>Fast</span>
            <span><input type="checkbox" name="override_chk" {% if override_val %}checked{% endif %}>Override</span>
         
         </p>

         <p>
            <input type = "submit" value = "move!" />
            <button type="button" id="sleep_btn">sleep</button>
         </p>
      </form>
      <br />
      <p>Ultrasonic distance: 
         <span style="color:red; font-weight: bold" id="us_data"></span>
      </p>

      <script src=https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.min.js></script>
      <script src="{{ url_for('static', filename='script.js') }}"></script>
   </body>
</html>